<h1>{{formAction}}</h1>
<form>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input [disabled]="isShowForm" matInput name="heroName" required [(ngModel)]="formData.name">
  </mat-form-field>
  <p></p>
  <mat-form-field>
    <mat-label>Edad</mat-label>
    <input [disabled]="isShowForm" name="heroAge" type="number" matInput [(ngModel)]="formData.age">
  </mat-form-field>
</form>
<button class="x-sm-padding" routerLink="/" mat-raised-button>Cancelar</button>
<button class="x-sm-padding" color="accent" *ngIf="formAction === 'Crear'" (click)="createHero()"
  mat-raised-button>Crear</button>
<button class="x-sm-padding" color="accent" *ngIf="formAction === 'Editar'" (click)="editHero()"
  mat-raised-button>Editar</button>
